@charset "utf-8";
*{
    font-family: "fot-tsukuaoldmin-pr6n", sans-serif;
    font-weight: 300;
    font-style: normal;
}



#header{
    height:100vh;
    background:#ffffff;
    color: #eec0bd;
    display:flex;
    text-align: center;
    justify-content: center;
}
.hibikore{
   margin:auto;
    height: 50vh;
}
.box{
    color: #fff;
    padding: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blur1{
    animation-fill-mode:forwards;
    animation: 1.5s fade 0s ease-out;
}
.blur2{
    animation-fill-mode:forwards;
    animation: 1.5s fade2 0s ease-out;
}
@keyframes fade {
    0% {
        filter: blur(10px);
        transform: translateY(+10px);
        opacity: 0;
    }
    
    100% {
        filter: blur(0px);
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        filter: blur(10px);
      transform: translateY(+10px);
      opacity: 0;
    }
    30% {
        transform: translateY(+10px);
        opacity: 0;
      }
    100% {
        filter: blur(0px);
      transform: translateY(0px);
      opacity: 1;
    }
}
.blurTrigger {
    opacity:1;
    
}
.blurTrigger2 {
    opacity:0;
}

h2 {
    font-size:45px;
}
h2 a{
    font-size:30px;
}
.content-text{
    padding: 0;
    margin:0;
    text-align: left;
    display: inline-block;
    height:75vh;
    writing-mode: vertical-rl;
    line-height: 7vw;
}
.content-text p{
    font-size:25px;
    padding:50px 0;
}
@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */
    .content-text{
        height:85vh;
    }
    .content-text h2 {
        font-size:35px;
    }
    .content-text h2 a{
        font-size: 22px;
    }
    .content-text p{
        padding-top: 100px;
        font-size:22px;
    }
    .br-sp {display: none; }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
    .content-text{
        height:90vh;
    }
    .content-text h2 {
        font-size:35px;
    }
    .content-text h2 a{
        font-size: 20px;
    }
    .content-text p{
        font-size:20px;
    }
    .br-sp {display: none; }
}

#box1{
    background:linear-gradient(180deg, rgb(53, 100, 151) 0%, rgb(132, 183, 186)65%,rgb(255, 249, 227)100%);
    color:rgb(255, 255, 255);
}
#box2{
    background:linear-gradient(180deg, rgb(97, 194, 255) 0%, rgb(248, 245, 255)70%, rgb(250, 240, 255)100%);
    color:azure;
}
#box3{
    background:linear-gradient(180deg, rgb(84, 172, 255) 0%,rgb(85, 193, 255)5%, rgb(184, 237, 255)100%);
    color:#ffffff
}
#box4{
    background:linear-gradient(180deg, rgb(109, 211, 255) 0%,rgb(200, 239, 255)50%, rgb(233, 253, 255)100%);
    color:rgb(95, 125, 151);
}
#box5{
    background:linear-gradient(180deg, rgb(241, 230, 255) 0%,rgb(255, 230, 230)30%, rgb(255, 200, 163)100%);
    color:#898989;
}
#box6{
    background:linear-gradient(180deg, rgb(122, 110, 172) 0%, rgb(255, 203, 175)80%, rgb(255, 232, 175)100%);
    color:aliceblue;
}
#box7{
    background:linear-gradient(180deg, rgb(53, 101, 134) 0%,rgb(131, 173, 197)70%, rgb(255, 166, 136)100%);
    color:#ffffff
}
#box8{
    background:linear-gradient(180deg, rgb(22, 41, 75) 0%,rgb(28, 64, 86)50%, rgb(38, 85, 102)100%);
    color:#ffffff;
}
#box9{
    background:linear-gradient(180deg, rgb(255, 249, 227) 0%, rgb(222, 199, 255)100%);
    color:#b8b8b8;
    font-size: 15px;
}


#footer{
  background:#333;
  color:#fff;
  padding:40px;
  text-align:center;
}

#footer a{
  color: #fff;
}

.pagination {
	position:fixed;
	right:20px;
	top: 50%;
  	transform: translateY(-50%);
	font-size:1em;
	z-index: 10;
	list-style: none;
}

.pagination a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:#fff;
	position:relative;
	padding:4px;
}

.pagination a.active:after {
	box-shadow:inset 0 0 0 5px;
}

.pagination a .hover-text {
	position:absolute;
	right:15px;
	top:0;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}

.pagination a:hover .hover-text {
	opacity: 1;
}

.pagination a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:3px;
	bottom:0;
}

@media screen and (max-width:768px) { 
	.pagination a .hover-text{
		display: none;
	}	
}

